<ul class="recipes-list">
{{ range . }}
{{ block "li-recipe" . }}{{ end }}
{{ end }}
</ul>

{{ define "li-recipe" }}
{{ $prefix := "recipes-list" }}

<li class="{{ $prefix }}__item">

<div class="{{ $prefix }}__image">
{{- with .Resources.ByType "image" -}}
<a href="{{$.RelPermalink}}">
{{- $img := index . 0 -}}
{{- $img := $img.Fill "150x150" -}}
<img src="{{ $img.RelPermalink }}" title="{{ $.Name }}" />
</a>
{{ else }}
<img width="150" height="150" title="{{ $.Name }}" />
{{- end -}}
</div>

<div class="{{ $prefix }}__info">

<h2 class="{{ $prefix }}__title"><a href="{{.RelPermalink}}">{{.Name}}</a></h2>

{{- with .Params.description -}}
<div class="{{ $prefix }}__description">{{ . }}</div>
{{- end -}}

<div class="{{ $prefix }}__category">{{ .CurrentSection.Name }}</div>

{{- with .Params.totalTime -}}
<time class="{{ $prefix }}__duration" datetime="{{.}}" >{{- partial "period.html" . -}}</time>
{{- end -}}



{{- with .Params.rating }}
<div class="{{ $prefix }}__rating">{{- partial "rating.html" . -}}</div>
{{ end }}


{{ with (.GetTerms "tags") }}
<ul class="{{ $prefix }}__tags">
{{ range . }}
<li><a href="{{ .RelPermalink }}">{{ .Name }}</a></li>
{{ end }}
</ul>
{{ end -}}

</div>
</li>
{{ end }}

