

@mixin breadcrumb() {
	// list-style-type: none;
	// padding: 0;
	// margin: 0;
    margin: $breadcrumb-margin;

    & > li {
        display: inline-block;
        vertical-align: top;
        line-height: 1;

        &:not(:last-child)::after {
            content: ' /';
            color: $color-accent;
        }
    }

    a {
        // @include link-underlined();
        // color: gray;
        @include link-underlined();
    }
}
