$color-text-light:#ccc;
$color-text: gray;
$color-text-dark: #555;
$color-text-darkest: black;


$color-fg: black;
$color-bg: white;

$color-accent: #e1a0ff;
$color-accent-light: lighten($color-accent, 13%);
