.credits {
    position: relative;
    top: -1.3rem;
    text-align: right;
    padding: 0 0.2rem;
    // background-color: rgba(white, 0.8);
    color: lightgray;

    font-size: 60%;
    font-family: sans-serif;
    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
        
    }
}